@using Kino.WebApp.Models;
@model ProjekcijeViewModel
<head>
</head>
@using (Html.BeginForm("Snimi", "Projekcije", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">DODAJ/UREDI</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body">
                    @Html.HiddenFor(model => model.ProjekcijaID)
                    <div class="form-group">
                        <label for="datepicker">Datum:</label>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </div>
                            @Html.TextBoxFor(m => m.Datum, "{0:dd/MM/yyyy}", new { @class = "form-control pull-right", @id = "datepicker" })
                        </div>
                    </div>
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>Vrijeme:</label>

                            <div class="input-group date" id="timepicker" data-target-input="nearest">
                                @Html.TextBoxFor(m => m.Vrijeme, "{0:HH:mm}", new { @class = "form-control datetimepicker-input", @data_target = "#timepicker" })
                                @*<input type="text" class="form-control datetimepicker-input" data-target="#timepicker">*@
                                <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="far fa-clock"></i></div>
                                </div>
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                    </div>

                    <div class="form-group">
                        <label for="KM">Cijena:</label>
                        @Html.TextBoxFor(m => m.Cijena, new { @class = "form-control", @type = "number", @placeholder = "KM", @step=".01"})
                    </div>

                    <div class="form-group">
                        <label for="Film">Film:</label>
                        @Html.DropDownListFor(model => model.FilmID, (IEnumerable<SelectListItem>)@ViewBag.Filmovi, "Odaberite Film", new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label for="zanr">Sala:</label>
                        @Html.DropDownListFor(model => model.SalaID, (IEnumerable<SelectListItem>)@ViewBag.Sale, "Odaberite Salu", new { @class = "form-control" })
                    </div>

                    <div class="float-right">
                        <button type="submit" class="btn btn-success">Spremi</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
<script>
    $(document).ready(function () {
   $('#datepicker').datepicker({
    dateFormat: "dd/mm/yy"
   });
             //Timepicker
    $('#timepicker').datetimepicker({
        format: 'HH:mm'
    })
    });
</script>

